
*{
  margin:0;
  padding: 0;

}
body{
  background-color:  #f3f4f6;
margin: 0;
padding: 0;
}
button {
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  font-family: Nunito;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6875rem;
  cursor: pointer;

}
.herolandingPage{
  height: auto;
  width: 100%;
}
.aboutUsbuttons{
  display: flex;
  gap:2rem;
  margin-right: -120px;
  align-self: center;

}
/* the NavBar Style*/
.herobutton1{
  display: none;
}

.navBar{
  position: absolute;
  z-index: 10;
  width: 1180px;
display: flex;
padding-left: 48px;
padding-right:28px ;
padding-top:8px; 
height: 46px;
padding-bottom: 0px ; 
justify-content: space-between;
align-items: center;

}
.navbarlogo{
  width: 99px;
  height: 32px;
}
.logInGetStartedButton{
display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2.25rem;
  padding: 0;
  align-self: stretch;
}

/* the Hero Style*/
.countainerLandingpage{
  position: relative;
  display: flex;
  align-items: center;
  height: 32rem;
  flex:1;
  padding-top:60px ;
  padding-left: 4rem;
  padding-right: 0;
}
.herotext{ 
  display: flex;
  width:550px;
  gap:2.2rem;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 5;
}
.herobutton{
  display:flex;
  gap : 2rem;
}

.Anareawithreal{
    color: #000;
    font-family: Nunito;
    font-size: 3.815rem;
    font-style: normal;
    font-weight: 830;
    line-height: normal;
    text-transform: capitalize;

}
.experiences{
  
  color: #4666FF;
    /* Big Title */
    font-family: Nunito;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.ShareYourTechStory{
color: rgba(0, 0, 0, 0.60);
  /* Big Text */
  font-family: Nunito;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.8rem;
  /* 110% */
}
.descriptionlandingPage{
  width: 450px;
}
.HeroimagelandingPage{
  width: 470px;
  position: absolute;
  right:63px;
  top:60px;
  z-index: 3;
}
.bluesercle{
  position: absolute;
  z-index:1;
  scale: 0.85;
  right: 90px;
  
}
.lightcircle{
  position: absolute;
  z-index:2;
  right:0px;
  
}
.smallBlueDonut{
  position: absolute;
  left: 670px;
  bottom:80px;
  scale: 0.9;
  z-index: 0;
}
.smallBlueHairt{
  position: absolute;
  right: 265px;
  bottom: -10px;
}
.smallBlueSercle{
  position: absolute;
  right:470px;
  top:110px;  
  z-index: 1;
}
.BlueStarSmall{
  position: absolute;
  left: 550px;
  top:200px;
  
}
 /*countainer two of the landing page without the @media*/
 .countainertwolandingPage{
  position: relative;
  display: flex;
  align-items: center;
  height: auto;
  flex:1;
  padding-top:180px ;
  padding-bottom: 50px;
  padding-left: 4rem;
  padding-right: 0;
  gap:160px;
}
.Xperacomunitydescription{
  display: flex;
  width:480px;
  gap:2.2rem;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 5;
  
}
.Shareyour{
  color: #000;
  font-family: Nunito;
  font-size: 3.06rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;

}
.Story{

color: #4666FF;
  /* Big Title */
  font-family: Nunito;
  font-style: normal;
  font-size: 3.06rem;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;
}
.Xperaisancomunity{
  color: rgba(0, 0, 0, 0.60);
  /* Big Text */
  font-family: Nunito;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.8rem;  
}
.BlackManHoldingPhoneimage{
  width: 500px;
}
 /* the third countainer in the landing page */

 .countainertreelandingPage{
  position: relative;
  display: flex;
  align-items: center;
  height: auto;
  flex:1;
  padding-top:80px ;
  padding-bottom: 160px;
  padding-left: 4rem;
  padding-right: 0;
  gap:190px;  

 }
 .ManWithLaptopPresentingSomething{
  width: 500px;

 }
.Xperapracticesdescription{
  display: flex;
  width:480px;
  gap:1.5rem;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 5; 

}
.HearTheBestpractices{
  color: rgba(0, 0, 0, 0.8);
  font-family: Nunito;
  font-size: 3.06rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;

}
.Strengthenyourlearning{
  color: rgba(0, 0, 0, 0.60);
  /* Big Text */
  font-family: Nunito;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.8rem; 

}
.intershipimage{
  position: absolute;
  z-index: 3;
top: 270px;
left:258px ;
}
.experInUIUXimage{
  position: absolute;
  z-index: 3;
  top:480px;
  left: 205px;

}
.experaDotNetimage{
  position: absolute;
  z-index: 3;
  top:90px;
  left: 205px;
}



 /* the fourth countainer in the landing page */

.countainerfourlandingPage{
 padding: 80px 48px ;
  background-color: #6d8dff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;

}
.experadrivendiscription{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1.5rem;
  width: 700px;
  z-index: 4;
}
.BecomeExperienceDriven{
  color: #fff;
  font-family: Nunito;
  text-align: center;
  font-size: 3.06rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;
  z-index: 4;
}
/* the fiveth countainer last one */
.countainerfivelandingPage{
  display: flex;
 justify-content: space-around;
  gap:10px;
  background-color: #6d8dff;
  padding-top: 50px;
  padding-bottom: 30px;
 
}
.QuickLinks{
  display: flex;
  flex-direction: column;

}
.Company{
  display: flex;
  flex-direction: column;
}
.CreatAccount{
  display: flex;
  flex-direction: column;
}
.countainerfivetext{
  color: #fff;
  font-family: Nunito;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  z-index: 4; 
  padding-bottom:15px ;

}
.CreatAccounttext{
  color: #fff;
  font-family: Nunito;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  z-index: 4; 
  padding-bottom:25px ;
}
.FollowUStext{
  color: #fff;
  font-family: Nunito;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  z-index: 4; 
  padding-bottom:30px ;
  padding-top: 30px;
}
.signUpORcreatAccount{
   display: flex;
   gap:22px
}
.socialmediaicons{
  display: flex;
gap:30px
}
.lineBetweenSection{
  border: 1px solid #f3f4f6 ;
width: 1200px;
height: 0px;
z-index: 10;
}
/*last countainer*/
.lastcountainerlandingpage{
  display: flex;
 align-items: center;
 justify-content: space-around;
  gap:200px;
  background-color: white;
  padding-top: 5px;
}
.AllRightsReserved{
  font-family: Nunito;
  font-weight: 300;
  font-size: 12px;
  color: #000;
}
.navigationIcons{
  display: flex;
  align-items: center;
}
.navigationIcon{
  font-family: Nunito;
  text-align: center;
font-weight: 400;
font-size: 16px;
color: #000;
 
  background-color:white;
}


  