
*{
  margin:0;
  padding: 0;

}

button {
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  font-family: Nunito;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6875rem;
  cursor: pointer;

}
/* the NavBar Style*/
.hero-button1{
  display: none;
}
.navBar{

display: flex;
padding-right:48px;
padding-left:48px; 
padding-top: 8px;
padding-bottom: 0px ; 
  justify-content: space-between;
  align-items: center;
}

.navBar-button{
display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2.25rem;
  padding: 0;
  align-self: stretch;
}

/* the Hero Style*/
.hero-Landing-page{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32rem;
 flex:1;
  padding:0 4rem;
}
.hero-text{ 
  display: flex;
  width:600px;
  gap:1.3rem;
  flex-direction: column;
  justify-content: flex-start;
}
.hero-button{
  display:flex;
  gap : 2rem;
}
.hero-image{
height: 500px;
width: 400px;

}
.your-guide-to-honest-reviews-parent{

  color: #000;
    font-family: Nunito;
    font-size: 3.815rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;

}
.reviews{
  
  color: #2454FF;
    /* Big Title */
    font-family: Nunito;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.unveiling-the-tech{
  
  color: rgba(0, 0, 0, 0.60);
    /* Title Small */
    font-family: Nunito;
    font-size: 1.95313rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  
}
.honest-IT-reviews{

color: rgba(0, 0, 0, 0.60);
 
  /* Big Text */
  font-family: Nunito;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.375rem;
  /* 110% */
}
.star{
  width: 3.84806rem;
    height: 4.30469rem;
}
.left-side-sercal{
  position: absolute;
    left: -1rem;
    bottom: 5.4375rem;
}
.top-side-sercal{
position: absolute;
  right: 30.75rem;

  top: 4rem;
}
.diamond-bright{
  position: absolute;
    left: 1.625rem;
    width: 3.35131rem;
      height: 3.67169rem;
}
@media (max-width:1270.67px) {
  .Hightlight_05{
    display: none;
  }
}

 /*                   ////////////        */
@media (max-width:1176px){
  .hero-image {
   display: none;
    }
.hero-paragraph2 {
     display: none;
    }

.hero-page{
display: flex;

  justify-content: center;
  align-items: center;
  gap: 3.8125rem;
  flex-shrink: 0;
  align-self: stretch;
}
.hero-text{
display: flex;

  width: 36.8125rem;;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.25rem;

}
.hero-text1{
  color: #000;
    text-align: center;
    /* Big Title */
    font-family: Nunito;
    font-size: 3.815rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.hero-text2{
color: #2454FF;
  /* Big Title */
  font-family: Nunito;
  font-size: 3.815rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}


.hero-paragraph1{
  color: rgba(0, 0, 0, 0.60);
  
    text-align: center;
    /* Title Small */
    font-family: Nunito;
    font-size: 1.95313rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.Object1 {
  position: absolute;
  right: 13rem;
  top: 4rem;
}
.Hightlight_05 {
  display: block;
      position: absolute;
        left: 13rem;
        top: 4.5rem;
    }
}

@media (max-width:922.667px) {
.Object1 {
    position: absolute;
    right: 1rem;
    top: 4rem;
  }
  .Hightlight_05 {
           position: absolute;
           left: 7rem;
           top: 4.5rem;
         }
}


@media (max-width:770px) {
.hero-paragraph1{
  color: rgba(0, 0, 0, 0.60);

text-align: center;
/* Sub Heading */
font-family: Nunito;
font-size: 1.5625rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}



















  .navBar-button{
    display: none;
  }
.Object1 {
  position: absolute;
  right: 0rem;
  top: 4rem;
}
    .Hightlight_05 {
      position: absolute;
      left: 3rem;
      top: 4.5rem;
    }
        .Logo{
          padding: 1.6rem 0rem;
        }

}



