
*{
  margin:0;
  padding: 0;

}
body{
background-color:  #f3f4f6;
margin: 0;
padding: 0;
}
.Menue{
  display: none;
  height: 65px;
}
button {
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  font-family: Nunito;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6875rem;
  cursor: pointer;

}
.herolandingPage{
  height: auto;
  width: 100%;
  
    overflow-y: hidden; /* Enable vertical scrolling */
    overflow-x: hidden;
  
}
.Countainer_Five_Phone{
  display: none;

}
.aboutUsbuttons{
  display: flex;
  gap:2rem;
  margin-right: -120px;
  align-self: center;

}
/* the NavBar Style*/


.navBar{
  position: absolute;
  z-index: 10;
display: flex;
padding-left: 48px;
padding-right:28px ;
padding-top:8px; 
height: 46px;
padding-bottom: 0px ; 
justify-content: space-between;
align-items: center;
gap:227px;
flex: 1;

}

.navbarlogo{
  width: 99px;
  height: 32px;
}
.logInGetStartedButton{
display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2.25rem;
  padding: 0;
  align-self: stretch;
}

/* the Hero Style*/
.countainerLandingpage{
  position: relative;
  display: flex;
  align-items: center;
  height: 32rem;
  flex:1;
  padding-top:60px ;
  padding-left: 4rem;
  padding-right: 0;
}
.herotext{ 
  display: flex;
  width:550px;
  gap:2.2rem;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 5;
}
.herobutton{
  display:flex;
  gap : 2rem;
  width: 189px;
}
.bigCTAbuttonSingUp{
  height: auto;
  width :100%;
  padding: 0.75rem 1.5rem;
  background-color: #2454FF;
} 

.bigCTAbuttonSingUp:hover {
  background: #6D8DFF;
}


.bigCTAbuttonSingUp:active {
  border: 1px solid #6D8DFF;
  background:  #2454FF;
  /* Focus Effect */
  box-shadow: 0px 2px 16px 0px rgba(70, 102, 255, 0.50);
}

.Anareawithreal{
    color: #000;
    font-family: Nunito;
    font-size: 3.815rem;
    font-style: normal;
    font-weight: 830;
    line-height: normal;
    text-transform: capitalize;

}
.Learn_More_button{
  display: none;
}
.experiences{
  
  color: #4666FF;
    /* Big Title */
    font-family: Nunito;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.ShareYourTechStory{
color: rgba(0, 0, 0, 0.60);
  /* Big Text */
  font-family: Nunito;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.8rem;
  /* 110% */
}
.descriptionlandingPage{
  width: 450px;
}
.HeroimagelandingPage{
  width: 470px;
  position: absolute;
  right:63px;
  top:60px;
  z-index: 3;
}
.bluesercle{
  position: absolute;
  z-index:1;
  scale: 0.85;
  right: 90px;
  
}
.lightcircle{
  position: absolute;
  z-index:2;
  right:0px;
  
}
.smallBlueDonut{
  position: absolute;
  left: 670px;
  bottom:80px;
  scale: 0.9;
  z-index: 0;
}
.smallBlueHairt{
  position: absolute;
  right: 265px;
  bottom: -10px;
}
.smallBlueSercle{
  position: absolute;
  right:470px;
  top:110px;  
  z-index: 1;
}
.BlueStarSmall{
  position: absolute;
  left: 550px;
  top:200px;
  
}
 /*countainer two of the landing page without the @media*/
 .countainertwolandingPage{
  position: relative;
  display: flex;
  align-items: center;
  height: auto;
  flex:1;
  padding-top:180px ;
  padding-bottom: 50px;
  padding-left: 4rem;
  padding-right: 0;
  gap:160px;
}
.Xperacomunitydescription{
  display: flex;
  width:480px;
  gap:2.2rem;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 5;
  
}
.Shareyour{
  color: #000;
  font-family: Nunito;
  font-size: 3.06rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;

}
.Story{

color: #4666FF;
  /* Big Title */
  font-family: Nunito;
  font-style: normal;
  font-size: 3.06rem;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;
}
.Xperaisancomunity{
  color: rgba(0, 0, 0, 0.60);
  /* Big Text */
  font-family: Nunito;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.8rem;  
}
.BlackManHoldingPhoneimage{
  width: 500px;

}
 /* the third countainer in the landing page */

 .countainertreelandingPage{
  position: relative;
  display: flex;
  align-items: center;
  height: auto;
  flex:1;
  padding-top:80px ;
  padding-bottom: 160px;
  padding-left: 4rem;
  padding-right: 0;
  gap:190px;  

 }
 .ManWithLaptopPresentingSomething{
  width: 500px;

 }
.Xperapracticesdescription{
  display: flex;
  width:480px;
  gap:1.5rem;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 5; 

}
.HearTheBestpractices{
  color: rgba(0, 0, 0, 0.8);
  font-family: Nunito;
  font-size: 3.06rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;

}
.Strengthenyourlearning{
  color: rgba(0, 0, 0, 0.60);
  /* Big Text */
  font-family: Nunito;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.8rem; 

}
.intershipimage{
  position: absolute;
  z-index: 3;
top: 270px;
left:258px ;
}
.experInUIUXimage{
  position: absolute;
  z-index: 3;
  top:480px;
  left: 205px;

}
.experaDotNetimage{
  position: absolute;
  z-index: 3;
  top:90px;
  left: 205px;
}



 /* the fourth countainer in the landing page */

.countainerfourlandingPage{
 padding: 80px 48px ;
  background-color: #6d8dff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;

}
.experadrivendiscription{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1.5rem;
  width: 700px;
  z-index: 4;
}
.BecomeExperienceDriven{
  color: #fff;
  font-family: Nunito;
  text-align: center;
  font-size: 3.06rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;
  z-index: 4;
}
/* the fiveth countainer last one */
.countainerfivelandingPage{
  display: flex;
 justify-content: space-around;
  gap:10px;
  background-color: #6d8dff;
  padding-top: 50px;
  padding-bottom: 30px;
 
}
.QuickLinks{
  display: flex;
  flex-direction: column;
  gap:10px;

}
.Company{
  display: flex;
  flex-direction: column;
  gap:10px;
}
.InputFieldWhite {
  width: 200px;
}
.CreatAccount{
  display: flex;
  flex-direction: column;
}
.countainerfivetext{
  color: #fff;
  font-family: Nunito;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  z-index: 4; 
  padding-bottom:15px ;

}
.CreatAccounttext{
  color: #fff;
  font-family: Nunito;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  z-index: 4; 
  padding-bottom:25px ;
}
.FollowUStext{
  color: #fff;
  font-family: Nunito;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  z-index: 4; 
  padding-bottom:30px ;
  padding-top: 30px;
}
.signUpORcreatAccount{
   display: flex;
   gap:60px;
   height: auto;
}
.socialmediaicons{
  display: flex;
gap:30px
}
.lineBetweenSection{
  border: 1px solid #f3f4f6 ;
width: 1200px;
height: 0px;
z-index: 10;
}
/*last countainer*/
.lastcountainerlandingpage{
  display: flex;
 align-items: center;
 justify-content: space-around;
  gap:200px;
  background-color: white;
  padding-top: 5px;
}
.AllRightsReserved{
  font-family: Nunito;
  font-weight: 300;
  font-size: 12px;
  color: #000;
}
.navigationIcons{
  display: flex;
  align-items: center;
}
.navigationIcon{
  font-family: Nunito;
  text-align: center;
font-weight: 400;
font-size: 16px;
color: #000;
 
  background-color:white;
}
.BlackManHoldingPhoneimageFlipped{
  display: none;
}
.XperacomunitydescriptionFlipped{
  display: none;
}

@media only screen and (max-width:1262px) {
 .navBar{
  gap:210px;
 }
}
@media only screen and (max-width:1230px) {
  .navBar{
   gap:200px;
  }
 }
 @media only screen and (max-width:1208px) {
  .navBar{
   gap:180px;
  }
 }
 @media only screen and (max-width:1170px) {
  .navBar{
   gap:160px;
  }
 }
 @media only screen and (max-width:1130px) {
  .navBar{
    gap:120px;
  }
  .aboutUsbuttons{
    gap:0.8rem;
  }
  .HeroimagelandingPage{
  display: none;
  }
  .bluesercle{
    display: none;
  }
  .lightcircle{
    display: none;
  }
  .smallBlueDonut{
    display: none;
  }
  .smallBlueHairt{
    display: none;
  }
  .smallBlueSercle{
    display: none;
  }
  .BlueStarSmall{
    display: none;
  }
  .countainerLandingpage{
    justify-content: center;
    align-items: center;
  }
  .Learn_More_button{
    display: block;
    width: 300px;
  }
  .herotext{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 930px;
    font-weight: 900;

  }

  .herobutton{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap : 2rem;
    padding: 0;
    width: 300px;
  }
  .countainertwolandingPage{
    display: flex;
    flex-direction: column; 

  }
  .Xperacomunitydescription{
    align-self: flex-end; 
  
  }
  .BlackManHoldingPhoneimage{
    align-self: flex-start;
  }
  .BlackManHoldingPhoneimage{
    display: none;
  }
  .Xperacomunitydescription{
    display: none;
  }
  .BlackManHoldingPhoneimageFlipped{
    display: block;
    width: 500px;
  }
  .XperacomunitydescriptionFlipped{
    display: flex;
    width:480px;
    gap:2.2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }
  .Story{
    color: black;
  }
  .Xperaisancomunity{
    text-align: center;
  }
  .countainertreelandingPage{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Xperapracticesdescription{
    align-items: center;
    text-align: center;
  }
.intershipimage{
  left:560px;
}
.experInUIUXimage{
    left: 450px;
}
.experaDotNetimage{
 left: 530px;
}

 
 }
 
 @media only screen  and (max-width:1046px){
  .intershipimage{
    left:500px;
  }
  .experInUIUXimage{
      left: 400px;
  }
  .experaDotNetimage{
   left: 500px;
  }
 }
 @media only screen  and (max-width:1008px){
  .navBar{
    gap:110px;
  }
  .aboutUsbuttons{
    gap:0rem;
  }
 }
 @media only screen  and (max-width:960px){
  .aboutUsbuttons{
    display: none;
  }
  .navBar{
    gap:430px;
  }
  .intershipimage{
    left:500px;
  }
  .experInUIUXimage{
      left: 400px;
  }
  .experaDotNetimage{
   left: 500px;
  }
 }
 @media only screen  and (max-width:904px){
  .navBar{
    gap:400px;
  }
  .intershipimage{
    left:450px;
  }
  .experInUIUXimage{
      left: 400px;
  }
  .experaDotNetimage{
   left: 400px;
  }
 }
 @media only screen  and (max-width:875px){
  .navBar{
 gap:350px;
  }
  .intershipimage{
    display: none;
  }
  .experInUIUXimage{
    display: none;
  }
  .experaDotNetimage{
    display: none;
  }
 }
 @media only screen  and (max-width:710px){
  .logInGetStartedButton{
    display: none;
  }
  .Menue{
    display: block;
 
  }
 .navBar{
  gap:475px;
  overflow-y: hidden; /* Enable vertical scrolling */
  overflow-x: hidden;
 }
 .ManWithLaptopPresentingSomething{
  display: none;
 }
 .Xperapracticesdescription{
  display: none;
 }
 .herotext{

 }
 .Anareawithreal{
font-size:3rem ;
font-weight: 810;
  
 }
 .ShareYourTechStory{
 font-size:1.2rem ;
 }

 }
 @media only screen  and (max-width:677px){
.navBar{
  padding-left: 20px;

}
 }
 @media only screen  and (max-width:646px){
  .navBar{
    gap:450px;
  }
 }
 @media only screen  and (max-width:617px){
  .countainerLandingpage{ 
    padding-top: 30px;
    padding-left: 0rem;
  }
  .BlackManHoldingPhoneimageFlipped{
    width: 350px;
    padding-right:30px ;
  }
  .navBar{
    gap:220px;
    overflow-x: hidden;
    overflow-y: hidden; 
    padding-right: 0px;
  }
  .herotext{
    gap:15px;
  }
  .herobutton{
    gap: 25px;
  }
  .Anareawithreal{
    font-size:2rem ;
    font-weight: 810;
      
     }
     .ShareYourTechStory{
     font-size:1rem ;
     }
     .descriptionlandingPage{
      width: 300px;
     }
     .Shareyour{
      font-size:2rem ;
      font-weight: 810;
     }
     .Story{
      font-size:2rem ;
      font-weight: 810;
     }
     .Xperaisancomunity{
      font-size:1rem ;
     }
    
     .XperacomunitydescriptionFlipped{
      width: 350px;
     }
     .countainertwolandingPage{
      padding-left: 2rem;
      padding-bottom: 0px;
      padding-top: 20px;
      overflow-x: hidden;
      overflow-y: hidden;
     }
     .countainerfourlandingPage{
      display:none;
     }


     .lineBetweenSection{
   display: none  ;
     }
/* the last section*/
.countainerfivelandingPage{
  display: none;
}
.navigationIcons{
  display: none;
}
.lastcountainerlandingpage{
  padding:  10px 0;
}
  /*phone countainer for download the app*/
  .Countainer_Five_Phone{
    overflow-x: hidden;
    overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:30px;
  padding-top: 100px;
  }
  .Get_The_Xpera_App{
font-family: Nunito;
font-weight: 800;
font-size: 40px;
text-transform: capitalize;
color: rgba(0, 0, 0, 0.6);

  }
  .Xpera_Text{
  color: #4666FF;
  }
  .XperaPhone_Image{
    height: 500px;
    margin-top:-30px ;
  }
.DownloadButtons{
  display: flex ;
 gap:30px

}
.IconDownloadButton{
  border: none;
  padding: 0;
  background-color: transparent;
}
.DownloadImage{
  width: 170px;
}
.countainertreelandingPage{
  display: none;
}
.herolandingPage{
  overflow-x: hidden;
  overflow-y: hidden;
}
.lastcountainerlandingpage{
  overflow-x: hidden;
  overflow-y: hidden;
gap:0;  
}

 } 
