/* variables.css */

/* Color styles */
/* ---------------------------------------- */
:root {
    --blue1: rgba(36, 84, 255, 1);
    --white: rgba(255, 255, 255, 1);
    --blue2: rgba(70, 102, 255, 1);
    --blue3: rgba(109, 141, 255, 1);
    --blue4: rgba(182, 198, 255, 1);
    --light-grey: rgba(208, 213, 221, 1);
    --dark-grey-1: rgba(64, 64, 64, 1);
    --dark-grey-2: rgba(128, 128, 128, 1);
    --medium-grey: rgba(191, 191, 191, 1);
  }
  
  /* Text-size styles */
  /* ---------------------------------------- */
  :root {
    --font-size-nunito: 0.75rem;
    --font-size-big-title: 3.82rem;
    --font-size-title: 3.05rem;
    --font-size-title-medium: 2.44rem;
    --font-size-title-small: 1.95rem;
    --font-size-sub-heading: 1.56rem;
    --font-size-big-text: 1.25rem;
    --font-size-text: 1rem;
    --font-size-small-text: 0.8rem;
    --font-size-caption: 0.64rem;
  }
  
  /* Effect styles */
  /* ---------------------------------------- */
  :root {
    --focus-effect: 0px 2px 16px rgba(70, 102, 255, 0.5);
    --dropdown-card-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --large-drop-shadow: 0px 30px 60px rgba(0, 0, 0, 0.3), 0px 50px 100px rgba(50, 50, 93, 0.25);
    --medium-drop-shadow: 0px 10px 10px rgba(0, 0, 0, 0.04), 0px 20px 25px rgba(0, 0, 0, 0.1);
    --shadow-x: 0px 8px 32px rgba(17, 17, 26, 0.05), 0px 4px 16px rgba(17, 17, 26, 0.05);
  }
  

