
*{
  margin:0;
  padding: 0;

}

button {
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  font-family: Nunito;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6875rem;
  cursor: pointer;

}
/* the NavBar Style*/
.navBar{

display: flex;
padding-right:48px;
padding-left:48px; 
padding-top: 8px;
padding-bottom: 0px ; 
  justify-content: space-between;
  align-items: center;
}
.Logo{
  color: #2454FF;
    /* Title Small */
    font-family: Nunito;
    font-size: 1.95313rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0rem;
}
.navBar-button{
display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2.25rem;
  padding: 0;
  align-self: stretch;
}
.Log-In-button {
    
    border: 2px solid rgba(36, 84, 255, 0.60);

    background-color: white;
    color: #2454FF;
    transition: background-color 0.3s ease;
    /* Big Text */
}

/* the Hero Style*/
.hero-page{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32rem;
 flex:1;
  padding:0 4rem;
}
.hero-text{ 
  display: flex;
  height: 30;
  gap:1.5rem;
  flex-direction: column;
  justify-content: flex-start;
}
.hero-button{
  display:flex;
  gap : 2rem;
}
.hero-image{
 scale: 0.65;
 
}
.hero-text1{

  color: #000;
    font-family: Nunito;
    font-size: 3.815rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;

}
.hero-text2{
  
  color: #2454FF;
    /* Big Title */
    font-family: Nunito;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.hero-paragraph1{
  
  color: rgba(0, 0, 0, 0.60);
    /* Title Small */
    font-family: Nunito;
    font-size: 1.95313rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  
}
.hero-paragraph2{

color: rgba(0, 0, 0, 0.60);
 
  /* Big Text */
  font-family: Nunito;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.375rem;
  /* 110% */
}





