
*{
  margin:0;
  padding: 0;

}

button {
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  font-family: Nunito;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6875rem;
  cursor: pointer;

}
.aboutUs-buttons{
  display: flex;
  gap:2rem;
  margin-right: -120px;
  align-self: center;

}
/* the NavBar Style*/
.hero-button1{
  display: none;
}

.navBar{
display: flex;
padding-left: 48px;
padding-right:28px ;
padding-top:8px; 
height: 46px;
padding-bottom: 0px ; 
justify-content: space-between;
align-items: center;
}
.navbar-logo{
  width: 99px;
  height: 32px;
}
.logIn-GetStarted-Button{
display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2.25rem;
  padding: 0;
  align-self: stretch;
}

/* the Hero Style*/
.hero-Landing-page{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32rem;
 flex:1;
  padding:0 4rem;
}
.hero-text{ 
  display: flex;
  width:550px;
  gap:2.2rem;
  flex-direction: column;
  justify-content: flex-start;
}
.hero-button{
  display:flex;
  gap : 2rem;
}

.An-area-with-real{
    color: #000;
    font-family: Nunito;
    font-size: 3.815rem;
    font-style: normal;
    font-weight: 830;
    line-height: normal;
    text-transform: capitalize;

}
.experiences{
  
  color: #4666FF;
    /* Big Title */
    font-family: Nunito;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.Share-Your-Tech-Story{
color: rgba(0, 0, 0, 0.60);
  /* Big Text */
  font-family: Nunito;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.8rem;
  /* 110% */
}
.description-landingPage{
  width: 450px;
}





