*{
    margin: 0;
    padding: 0;
}
/*body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: fit-content;    
    background-color: white;
}*/
img{
    user-select: none;
}
.splitcontainersingupPage {
    overflow: hidden; 
    position:relative ;
    display: flex;
    height: 585px;
    background-color: white;
}
.colorsidesingupPage {
    background: white;
    flex: 1;
    width: auto;
  
    overflow: hidden; 
}

.imagesidesingupPage {
    position:relative;
    width: 660px;

    background-image: url('../assets/background-right.svg');
    background-size:   750px 683px ; 
    background-repeat: no-repeat;
    user-select: none;
    transition: all 300ms ease;
}
.singUppagelogo{
    position: absolute;
    left: 48px; 
    top : 12px; 
}
.HappyManimage{
    position: absolute;
    width: 190px;
    height: 190px;
    left:74px ; 
    top:89px ;
}
.manHoldComputerimage{
    position: absolute;
    width: 175px;
    height: 175px;
    left:344px ;
    top:150px ;
}
.manThinkimage{
    position: absolute;
    width: 180px;
    height:220px ;
    left:97px ;
    top:320px ;
}
.manHoldPhoneimage{
    position: absolute;
    width: 200px;
    height:220px ;
    left:344px;
    top:350px; 

    opacity: 1;
    visibility: visible;
    transition: opacity 300ms ease, visibility 300ms ease;

}
.blueDonutimage{
 position: absolute;
 z-index: 1;
 top: 0;
 left: 570px;
 opacity: 1;
 visibility: visible;
 transition: opacity 300ms ease, visibility 300ms ease;

}
.ZigZagimage{
    position: absolute;
    z-index: 1;
   
    top: 440px;
    left:663px ;
    opacity: 1;
    visibility: visible;
    transition: all 300ms ease;
}
.blueLinesimage{
    position: absolute;
    z-index: 3;
    top:420px;
    left:-10px;

    opacity: 1;
    visibility: visible;
    transition: opacity 300ms ease, visibility 300ms ease;
}
.graydonutimage{
    position: absolute;
    z-index: 1;
    top:490px;
    left:0;

    opacity: 1;
    visibility: visible;
    transition: opacity 300ms ease, visibility 300ms ease;
}
.BlueXmarkimage{
    position: absolute;
    z-index: 2;
    left:333px ;
    top:290px ;

    opacity: 1;
    visibility: visible;
    transition: opacity 300ms ease, visibility 300ms ease;
}
.blueStarimage{
    position: absolute;
    z-index: 2;
    left:220px ; 
    top:79px ;
    width:60px ;
    height:60px ;

    opacity: 1;
    visibility: visible;
    transition: opacity 300ms ease, visibility 300ms ease;
}
@media only screen and  (max-width:1137px){
    .manHoldPhoneimage{
       
        visibility: none;
        opacity: 0;
    }
    .manHoldComputerimage{
   
        visibility: none;
        opacity: 0;
    }
    .BlueXmarkimage{
       
        visibility: none;
        opacity: 0;
    }
    .ZigZagimage{
      
        visibility: none;
        opacity: 0;
    }
    .blueDonutimage{
        
        visibility: none;
        opacity: 0;
    }
    
}
@media  only screen and (max-width:1111px){
    .ZigZagimage{
        visibility: visible;
        opacity: 1;
        transform: translateX(-290px) translateY(-190px) ; 
    }
    .imagesidesingupPage{
     background-size:1100px 590px  ;       
    }
}

@media only screen and (max-width:940px){
    .ZigZagimage{
        transform: translateX(-350px) translateY(-190px) ; 
    }
}

@media only screen and (max-width:870px ) {
    .ZigZagimage{
        visibility: none;
        opacity: 0;
    }  
}

@media only screen and (max-width: 767px ) {
    .HeroSingUpforme{
        position: relative;
        right:0;
        top:20px;
    }
    .imagesidesingupPage{
    display: flex;
      background-size: 0px;  
      width: 100%;
      justify-content: center;
      align-items: center;

       }
   
       .HappyManimage{

        visibility: none;
        opacity: 0;
       }
       .manThinkimage{

        visibility: none;
        opacity: 0;
       }
       .blueStarimage{
        visibility: none;
        opacity: 0;
       }
       .graydonutimage{
        visibility: none;
        opacity: 0;
       }
       .blueLinesimage{ 
        visibility: none;
        opacity: 0;
       }
}
@media only screen and (max-width:700px){
.colorsidesingupPage{
    overflow-y: hidden; /* Enable vertical scrolling */
    overflow-x: hidden;
}
.imagesidesingupPage{
    overflow-y: hidden; /* Enable vertical scrolling */
    overflow-x: hidden; 
}
.splitcontainersingupPage{
    overflow-y: hidden; /* Enable vertical scrolling */
    overflow-x: hidden;
}
.HeroSingUpforme{
    top:30px;
}
}
