*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: fit-content;    
}
img{
    user-select: none;
}
.split-container-singupPage {
    position:relative ;
    display: flex;
    height: 610px;
}
.color-side-singupPage {
    background: white;
    flex: 1;
    width: auto;
    height: 100%;
}

.image-side-singupPage {
    position:relative;
    width: 660px;
    height: auto;
    background-image: url('../assets/background-right.svg');
    background-size:   750px 683px ; 
    background-repeat: no-repeat;
    user-select: none;
    transition: all 300ms ease;
}
.singUp-page-logo{
    position: absolute;
    left: 48px; 
    top : 12px; 
}
.HappyMan-image{
    position: absolute;
    width: 190px;
    height: 190px;
    left:74px ; 
    top:89px ;
}
.manHoldComputer-image{
    position: absolute;
    width: 175px;
    height: 175px;
    left:344px ;
    top:150px ;
}
.manThink-image{
    position: absolute;
    width: 180px;
    height:220px ;
    left:97px ;
    top:320px ;
}
.manHoldPhone-image{
    position: absolute;
    width: 200px;
    height:220px ;
    left:344px;
    top:350px; 

    opacity: 1;
    visibility: visible;
    transition: opacity 300ms ease, visibility 300ms ease;

}
.blueDonut-image{
 position: absolute;
 z-index: 1;
 top: 0;
 left: 570px;
 opacity: 1;
 visibility: visible;
 transition: opacity 300ms ease, visibility 300ms ease;

}
.ZigZag-image{
    position: absolute;
    z-index: 1;
   
    top: 440px;
    left:663px ;
    opacity: 1;
    visibility: visible;
    transition: all 300ms ease;
}
.blueLines-image{
    position: absolute;
    z-index: 3;
    top:420px;
    left:-10px;

    opacity: 1;
    visibility: visible;
    transition: opacity 300ms ease, visibility 300ms ease;
}
.gray-donut-image{
    position: absolute;
    z-index: 1;
    top:490px;
    left:0;

    opacity: 1;
    visibility: visible;
    transition: opacity 300ms ease, visibility 300ms ease;
}
.BlueXmark-image{
    position: absolute;
    z-index: 2;
    left:333px ;
    top:290px ;

    opacity: 1;
    visibility: visible;
    transition: opacity 300ms ease, visibility 300ms ease;
}
.blueStar-image{
    position: absolute;
    z-index: 2;
    left:220px ; 
    top:79px ;
    width:60px ;
    height:60px ;

    opacity: 1;
    visibility: visible;
    transition: opacity 300ms ease, visibility 300ms ease;
}
@media only screen and  (max-width:1137px){
    .manHoldPhone-image{
       
        visibility: none;
        opacity: 0;
    }
    .manHoldComputer-image{
   
        visibility: none;
        opacity: 0;
    }
    .BlueXmark-image{
       
        visibility: none;
        opacity: 0;
    }
    .ZigZag-image{
      
        visibility: none;
        opacity: 0;
    }
    .blueDonut-image{
        
        visibility: none;
        opacity: 0;
    }
    
}
@media  only screen and (max-width:1111px){
    .ZigZag-image{
        visibility: visible;
        opacity: 1;
        transform: translateX(-290px) translateY(-190px) ; 
    }
    .image-side-singupPage{
     background-size:1100px 590px  ;       
    }
}

@media only screen and (max-width:940px){
    .ZigZag-image{
        transform: translateX(-350px) translateY(-190px) ; 
    }
}

@media only screen and (max-width:870px ) {
    .ZigZag-image{
        visibility: none;
        opacity: 0;
    }  
}

@media only screen and (max-width: 767px ) {
    .Hero-SingUp-forme{
        position: relative;
        right:0;
        top:20px;
    }
    .image-side-singupPage{
    display: flex;
      background-size: 0px;  
      width: 100%;
      justify-content: center;
      align-items: center;

       }
   
       .HappyMan-image{

        visibility: none;
        opacity: 0;
       }
       .manThink-image{

        visibility: none;
        opacity: 0;
       }
       .blueStar-image{
        visibility: none;
        opacity: 0;
       }
       .gray-donut-image{
        visibility: none;
        opacity: 0;
       }
       .blueLines-image{ 
        visibility: none;
        opacity: 0;
       }
}
@media only screen and (max-width:700px){
.color-side-singupPage{
    overflow-y: hidden; /* Enable vertical scrolling */
    overflow-x: hidden;
}
.image-side-singupPage{
    overflow-y: hidden; /* Enable vertical scrolling */
    overflow-x: hidden; 
}
.split-container-singupPage{
    overflow-y: hidden; /* Enable vertical scrolling */
    overflow-x: hidden;
}
.Hero-SingUp-forme{
    top:30px;
}
}
