* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
 height: 644px;
 width: 100vw;
 display: flex;
 padding: 0 100px;
}

input {
  border: none;
  outline: none;
}

input:focus {
  border: none;
  outline: none;
}

.containerl {
  flex-basis: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerl .formcontainer {
  height: 584px;
  width: 388px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 12px;
  background: #fff;
  border-radius: 36px;
  padding: 48px;
  gap: 12px;
  margin-left: 110px;
}

.containerl .svg {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: auto;
  z-index: -1;
}

.containerl .inputarticle {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  height: 78px;
  width: 292px;
}

.containerl input {
  height: 42px;
  width: 100%;
  border: 1px solid #00000033;
  border-radius: 8px;
  padding: 13px 16px;
}

.containerl #submit {
  width: 292px;
  background-color: #2454FF;
  border: none;
  color: #fff;
}

.containerr .effect {
  position: absolute;
  top: 553.5px;
  left: 307.5px;
  border-radius: 50%;
  box-shadow: 0 0 120px 90px #2454FF80;
}

.containerl h1 {
  font-weight: 600;
  color: #2454FF;
  font-size: 25px;
  line-height: 34.1px;
}

.containerr {
  position: relative;
  flex-basis: 50%;
}

.containerr img {
  background-color: #00000033;
  border-radius: 36px;
  position: absolute;
}

.containerr img:first-child {
  top: 354px;
  left: 93px;
}

.containerr img:nth-child(2) {
  top: 89px;
  left: 64px;
}
.containerr img:nth-child(3) {
  top: 393px;
  left: 344px;
}
.containerr img:nth-child(4) {
  top: 153px;
  left: 344px;
}

.containerr h1 {
  font-weight: 700;
  font-size: 31.25px;
  color: #2454FF;
  width: 89px;
  height: 43px;
  padding: 12px 48px;
  line-height: 42.63px;
}

.containerl .horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  width: 292px;
  gap: 22px;
  color: #808080;
}

.containerl .horizontal div {
  height: 0.5px;
  background-color: #808080;
  width: calc( (100% - 60px) / 2 );
}

.containerl .google {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  height: 46px;
  width: 100%;
  padding: 11px 22px;
  color: #2454FF;
  border: 2px solid #2454FF99;
  border-radius: 12px;
}

.containerl > p {
  color: #808080;
}