*{
    margin: 0;
    padding: 0;
}

/*body{
    margin: 0;
    padding: 0;
    overflow: hidden;    
}*/


.horizontalline1SingIn{
    overflow: hidden; 
    display: inline-block;
    width: 94.667px;
    height: 0.2px;
    align-items: center;
    background: #808080;
    margin-right: 10px; /* Adjust the spacing between the line and text as needed */
}
.Hero_forme{ 
    position: relative;
    z-index: 5;
    width: 300px;
    height: auto;
    display: flex;
    padding: 40px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 36px;
    box-shadow: 0 8px 32px 0 rgba(17, 17, 26, 0.05), 0 4px 16px 0 rgba(17, 17, 26, 0.05);
    background: var(--white);
    
}
.Hero_title{
   color: var(--blue1);

    /* Sub Heading */
    font-family: Nunito;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 292px;
}

.userName{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    align-self: stretch;
    border-radius: 12px;
}
.username_Paragraph{
    display: flex;
    align-items: center;
    gap: 2px;
    align-self: stretch;
    color: var(--contentColor, #000);

/* Text */
font-family: Nunito;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.Password_Paragraph {
    display: flex;
    align-items: center;
    gap: 2px;
    align-self: stretch;
    color: var(--contentColor, #000);
/* Text */
font-family: Nunito;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.Password{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    border-radius: 12px;

}
.logInButtonSingIn{
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: 12px;
background: #00BFFF;  
}
.forgotPasSingIn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: #00BFFF;
    text-align: center;
    /* Text */
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 0px;
}
.forgot_Password_Section{    
    display: flex;
width: 292px;
flex-direction: column;
justify-content: center;
align-items: flex-end;
gap: 10px;
}
.container{
    display: flex;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    
}
.orSingUp{
    padding: 0;
    color: #808080;
    text-align: center;
    flex: 1 0 0;
    /* Text */
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.noAccount{
    display: flex;
width: 292px;
justify-content: center;
align-items: center;
gap: 6px;
}
.forgotPasSection_singInPage{    
    display: flex;
width: 292px;
flex-direction: column;
justify-content: center;
align-items: flex-end;
gap: 10px;
}
.forgotPassword{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: #2454FF;
    text-align: center;
    /* Text */
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 0px;
}  
.noAccount_Paragraph{
    color: #808080;
    text-align: center;
    
    /* Text */
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.noAccount_Paragraph2{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: #2454FF;

text-align: center;
/* Text */
font-family: Nunito;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 0px 0px ;  
}

.bigCTAbuttonSingUp{
    height: auto;
    width :100%;
    padding: 11px 4px;
    background-color: #2454FF;
  } 
  
  .bigCTAbuttonSingUp:hover {
    background: #6D8DFF;
  }
  
  
  .bigCTAbuttonSingUp:active {
    border: 1px solid #6D8DFF;
    background:  #2454FF;
    /* Focus Effect */
    box-shadow: 0px 2px 16px 0px rgba(70, 102, 255, 0.50);
  }
  @media only screen and (max-width:398px){
   .Hero_forme{
    padding:30px 30px ;
    width: 280px;
    gap:8px;
   } 
  }
 