@import '../cssVariables.css';


button{
  width: fit-content;
  border-radius: 0.75rem;
  color: #FFF;
  border: none;
  /* Big Text */
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4rem; /* 135% */
}

/* Normal state */
a {
  text-decoration: none;
  padding: 0.75rem 1.5rem;

  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6875rem; /* 135% */
}

/* Hover state */
a:hover {
  text-decoration: none;
  cursor: pointer;
}

/* Clicked state (active) */
a:active {
  text-decoration: none;
  cursor: pointer;
}

input{
  display: flex;
  padding: 0.8125rem 1rem;
  align-items: center;
  align-self: stretch;
  border-radius: 0.5rem;
  border: 1px solid var(--contentColor-20, rgba(0, 0, 0, 0.20));
  background: var(--whiteColor, #FFF);
  color: var(--contentColor-60, rgba(0, 0, 0, 0.60));
  font-variant-numeric: lining-nums tabular-nums;
  outline: none;
  /* Input Body */
  
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.4rem */
}

input:hover{
  border-radius: 0.5rem;
  border: 1px solid var(--blue1, #2454FF);
  background: var(--whiteColor, #FFF);
}

input:focus{
  border: 1px solid #2454FF;
  background: var(--whiteColor, #FFF);
  /* Focus Effect */
  box-shadow: 0px 2px 16px 0px rgba(70, 102, 255, 0.50);
}

input:valid{
  color: var(--contentColor, #000);
  font-variant-numeric: lining-nums tabular-nums;
  
  /* Input Body */
  
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.4rem */
}






.CTAButton{
  padding: 0.75rem 1.5rem;
  background: #2454FF;
}
.bigCTAButton{
  height: auto;
  width :100%;
  padding: 0.75rem 1.5rem;
  background-color: #2454FF;
} 

.bigCTAButton:hover {
  background: #6D8DFF;
}


.bigCTAButton:active {
  border: 1px solid #6D8DFF;
  background:  #2454FF;
  /* Focus Effect */
  box-shadow: 0px 2px 16px 0px rgba(70, 102, 255, 0.50);
}


 .CTAButton:hover{
  background: #6D8DFF;
}


.CTAButton:active{
  
  border: 1px solid #6D8DFF;
  background: #2454FF;
  /* Focus Effect */
  box-shadow: 0px 2px 16px 0px rgba(70, 102, 255, 0.50);
}

.SmallTeritiaryButtons{
  color: #2454FF;
  background-color: white;
  border-radius: 0.75rem;
}
.SmallTeritiaryButtons:hover{
  color:rgba(36, 84, 255, 0.6);
}
.SmallTeritiaryButtons:active{
  color: #2454FF;
}

.secondary_button{
  color: #2454FF;
  background-color: transparent;
  border-radius: 0.75rem;
  border: 2px solid rgba(36, 84, 255, 0.60);
}

.secondary_button:hover{
  background: rgba(109, 141, 255, 0.10);
}

.secondary_button:active{
  border-radius: 0.75rem;
  border: 2px solid #2454FF;
  background: rgba(182, 198, 255, 0.60);
  
  /* Focus Effect */
  box-shadow: 0px 2px 16px 0px rgba(70, 102, 255, 0.50);
}

.teritiaryButton{
  color: #2454FF;
}
.teritiaryButton:hover{
  color: rgba(36, 84, 255, 0.60)
}

.teritiaryButton:active{
  /* Focus Effect */
  text-shadow: 0px 2px 16px rgba(70, 102, 255, 0.50);
}

.smallTeritiaryButton{
  font-size: var(--font-size-text);
  color: #2454FF;
  font-weight: 600;

}

.labeled-icon-buttton{

    display: flex;
    padding: 0.6875rem 1.375rem;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
    border-radius: 0.75rem;
    border: 2px solid rgba(36, 84, 255, 0.60);

}

.tag{
  padding: 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  border: 1px solid #2454FF;
}

.tag:hover{
  background: rgba(0, 0, 0, 0.04);
}

.tag:active{
  background: rgba(36, 84, 255, 0.08);
}
.secondary_button_icon{
  width: 100%;
  display: flex;
  padding: max(8px,min(5%,13px)) max(2px,min(5%,8px));
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  align-self: stretch;  
  color: #2454FF;
  background-color: transparent;
  border-radius: 0.75rem;
  border: 1px solid rgba(36, 84, 255, 0.6);

}

.secondary_button_icon:hover{
  border-radius: 12px;
  border: 1px solid  #2454FF;
  background: var(--action-hover, rgba(0, 0, 0, 0.04));
}
.secondary_button_icon:active{
  border-radius: 12px;
  border: 1px solid  #2454FF;
  box-shadow: 0 2px 16px 0 rgba(70, 102, 255, 0.5);
  background: var(--blue1), rgba(255, 255, 255, 0.24);
  
}
.navBar_Button{
  text-align: center; 
  color: #404040;
background-color: inherit;
position: relative;
transition: color 0.3s ease;
}
.navBar_Button::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2.7px;
  border-radius: 1.35px; 
  bottom: 0;
  left: 0;
  background-color: #007BFF; /* Change this color to your desired underline color */
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.navBar_Button:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
.navBar_Button:active{
  color: #007BFF;
}
.Navigation_Icon{
  color:white; 
  background-color: transparent;
  padding: 0;
  font-weight: 400;
font-size: 16px;
}
.InputWhite{
  width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: var(--whiteColor, #FFF);
}
.InputWhite:hover{
  color:rgba(0, 0, 0, 0.2);
}
.InputWhite:active{
  color: black;
}
.Big_Secondary_Button{
  width: 100%;
  display: flex;
  padding:0.75rem 1.5rem;
  justify-content: center;
  align-items: flex-end;
  gap: 24px;
  align-self: stretch;  
  color: #2454FF;
  background-color: transparent;
  border-radius: 0.75rem;
  border: 1px solid rgba(36, 84, 255, 0.6);
}
.Big_Secondary_Button:hover{
  border-radius: 12px;
  border: 1px solid  #2454FF;
  background: var(--action-hover, rgba(0, 0, 0, 0.04));
}
.Big_Secondary_Button:active{
  border-radius: 12px;
  border: 1px solid  #2454FF;
  box-shadow: 0 2px 16px 0 rgba(70, 102, 255, 0.5);
  background: var(--blue1), rgba(255, 255, 255, 0.24);
  
}
.Icon_Menu{  
  width: 100%;
  align-self: stretch;  
  color: #2454FF;
  background-color: transparent;
  border: none;
padding: 0  ;
}
.Icon_Menu:hover{
  background: var(--action-hover, rgba(0, 0, 0, 0.04));
}
.Icon_Menu:active{
  box-shadow: 0 2px 16px 0 rgba(70, 102, 255, 0.5);
  background: var(--blue1), rgba(255, 255, 255, 0.24);
  
}
.Notification_bell{
  padding: 0;
  background-color:transparent ;
}
.Post_Icon{
  padding: 0;
  background-color:transparent ;
}


